// mat-toolbar{
//     background: #2C3D93;
//     color: #ffffff;
//     position: fixed;
//     z-index: 99;
// }

.logo {
    width: 140px;
}

.hamIcon {
    height: 24px;
    cursor: pointer;
}

ul li {
    list-style: none;
    background: padding-box !important;
    border: none !important;
  }
  
  .bgRemove {
    background: padding-box !important;
    border: none !important;
    z-index: 999;
  }

  .headerAlign{
    align-items: center;
    justify-content: space-between;
  }